data/*
models/*
.*
!.gitignore

treesatai/lgbm
treesatai/models
treesatai/s2
treesatai/data
treesatai/processed_data
treesatai/earthengine.googleapis.com
treesatai/bb_60m.GeoJSON
treesatai/TreeSatBA_v9_60m_multi_labels.json
