.*
!.gitignore

previous_sentinel/treesatai/*/
previous_sentinel/treesatai/earthengine*
previous_sentinel/treesatai/bb_60m.GeoJSON
previous_sentinel/treesatai/TreeSatBA_v9_60m_multi_labels.json

**/*.csv
**/*.GeoJSON
**/*.geojson
**/*.json
**/*.npy
**/*.h5

__pycache__/
models/
trials/
